.real-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  
  .real-button {
    background-color: rgba(5, 202, 136, 0.568);
    padding: 10px;
    border-style: inset;
    border-radius: 18px;
    font-size: 0.9rem;
    color: white;
    width: 90px;
    margin-left: 10px;
    text-align: left;
    cursor: pointer;
  }
  .real-button:hover{
    background-color:  rgb(254, 254, 255);
    color: rgb(0, 0, 0);
    transition: all 0.5s ease-out;
  }