.Bot-Chat-Message{
    width: 350px;
    height: 25px;
    display: flex;
    align-items: center;
    font-size: 1.0rem;
    color: rgb(3, 0, 184);
    background: white;
    margin: 5px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}