.App {
  text-align: center;
  background-image: url("https://lh3.googleusercontent.com/iIdIqrCti9j-wLamdjENvQBloC-MvzGTn1A1axQoSeb1AszIl-FgI5-8TK82CVw5XHsMOZx-Ucyi1YWZ43CIiyxtVZTOi6GXZkkwoH2GjstMF7GNh2OkJFtAI2bZMT4goUM0onZ06w=w2400");
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-chatbot-kit-chat-container {
  background-image: linear-gradient(rgba(13, 13, 71, 0.726), rgba(27, 190, 240, 0.767));
  border-radius: 25px;
}
.react-chatbot-kit-chat-message-container {
  padding: 0 17.5px 10px 17.5px;
  overflow: auto;
  height: 424px;
  scrollbar-width: none;
}
::-webkit-scrollbar{
  display: none;
}
.react-chatbot-kit-chat-bot-message {
  background-color: rgba(5, 202, 136, 0.568);
  padding: 10px;
  border-radius: 18px;
  font-size: 0.9rem;
  color: white;
  font-weight: initial;
  position: relative;
  width: 200px;
  margin-left: 45px;
  margin-bottom: 15px;
  text-align: left;

}
.react-chatbot-kit-user-chat-message {
  background-color:  rgb(254, 254, 255);
  padding: 10px;
  border-radius: 18px;
  font-size: 0.9rem;
  color: rgb(0, 0, 0);
  font-weight: initial;
  position: relative;
  width: 200px;
  margin-left: 138px;
  text-align: left;
  float: left;
}

p {
  background-color: rgba(5, 202, 136, 0.568);
  padding: 10px;
  border-radius: 18px;
  font-size: 0.9rem;
  color: white;
  font-weight: initial;
  position: relative;
  width: 200px;
  margin-left: 45px;
  margin-bottom: 15px;
  text-align: left;
}
input.react-chatbot-kit-chat-input {
  width: 390px;
  border-radius: 18px;
  padding: 8px;
  float: left;
}
button.react-chatbot-kit-chat-btn-send {
  width: 42px;
  border-radius: 11px;
  float: left;
}